<h1>Code</h1>
<hr />
<div class="container-fluid">
  <h3>Kyle Eslick Website</h3>
  <div class="bg-info">
    <p>This is the website you are currently on. It was made in Ruby on Rails and the source code is here: <a href="https://github.com/Eslick-Kyle/kyleWebSite.git">Kyle Eslick Website</a></p>
  </div>

  <h3>Cap and Trade</h3>
  <div class="bg-info">
    <%= image_tag "capandtrade.jpg", :class => "img-rounded", :class => "img-responsive center-block" %>
    <p>This was a class assignment but with a twist, we had to work directly with a project sponser to create an app they need. This project was made for a teacher at Brigham Young University-Idaho to help teach his class the principles of cap and trade. The program has both multiplayer and single player to be used in class or to be given to the students. The source code is here: <a href="https://github.com/Eslick-Kyle/CapAndTrade.git">Cap and Trade</a></p>
    <p>Download a jar of the application here: <%= link_to 'Download', code_download_url %></p>
  </div>

  <h3>Scripture Journal</h3>
  <div class="bg-info">
    <%= image_tag "journal.jpg", :class => "img-rounded", :class => "img-responsive center-block" %>
    <p>This is my first Java application with a GUI. The app is a basic journal application that allows you to save thoughts you had while reading scriptures.  It also parces each scripture so that you can search by topic or scriptual refference. The source code is here: <a href="https://github.com/Eslick-Kyle/cs246.git">Journal</a></p>
    <p>Download a jar of the application here: <%= link_to 'Download', code_download_journal_url %></p>
  </div>

  <h3>Address Book</h3>
  <div class="bg-info">
    <%= image_tag "addressbook.jpg", :class => "img-rounded", :class => "img-responsive center-block" %>
    <p>This webapp was made to learn the basics of ruby on rails. It uses bootstrap and has several CRUD screens to practice database interations. The site was made in Ruby on Rails and the source code is here: <a href="https://KyleEslick@bitbucket.org/KyleEslick/addressbook.git">Address Book</a> and see an online version here: <a href="https://shielded-temple-1449.herokuapp.com/">Address Book</a></p>
  </div>
</div>